<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="card">
  <div class="tabbar-header">
    <span class="tabbar-title">Friends</span>
    @if (currentUserEmail()) {
      <span class="tabbar-user">
        <i class="pi pi-user"></i>
        <span class="email">{{ currentUserEmail() }}</span>
      </span>
    }
  </div>
  <p-tabs [value]="activeTab()" (valueChange)="onTabChange($event)">
    <p-tablist>
      <p-tab value="all">All Users</p-tab>
      <p-tab value="requests">
        Friend Requests
        @if (incomingRequestsCount() > 0) {
          <span class="tab-badge">({{ incomingRequestsCount() }})</span>
        }
      </p-tab>
      <p-tab value="friends">My Friends</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="all">
        <app-all-users></app-all-users>
      </p-tabpanel>
      <p-tabpanel value="requests">
        <app-friend-requests (requestCountChange)="onRequestCountChange($event)"></app-friend-requests>
      </p-tabpanel>
      <p-tabpanel value="friends">
        <app-my-friends></app-my-friends>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
