<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="card">
  <div class="tabbar-header">
    <span class="tabbar-title">Friends</span>
    <span class="tabbar-user" *ngIf="currentUserEmail">
      <i class="pi pi-user"></i>
      <span class="email">{{ currentUserEmail }}</span>
    </span>
  </div>
  <p-tabView>
    <!-- All Users Tab -->
    <p-tabPanel header="All Users">
      <app-all-users></app-all-users>
    </p-tabPanel>

    <!-- Friend Requests Tab -->
    <p-tabPanel header="Friend Requests">
      <app-friend-requests></app-friend-requests>
    </p-tabPanel>

    <!-- My Friends Tab -->
    <p-tabPanel header="My Friends">
      <app-my-friends></app-my-friends>
    </p-tabPanel>
  </p-tabView>
</div>
