name: Integration (Automatic)

on: [push]

jobs:
  markdown-lint:
    name: markdown lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: pwd && ls -la && npx markdownlint-cli **/*.md
  lint-new-be:
    needs: [ markdown-lint ]
    name: New BE lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: '22'
      - run: echo ${GITHUB_WORKSPACE}
      - run: npm ci
        working-directory: ./new-be
      - run: npm run lint
        working-directory: ./new-be
  test-new-be:
    needs: [ markdown-lint ]
    name: new-be tests
    runs-on: ubuntu-latest
    services:
        postgres:
          image: postgres
          env:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
          options: >-
            --health-cmd pg_isready
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5
          ports:
            - 5432:5432
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '22'
      - run: npm ci
        working-directory: ./new-be
      - run: npm run test:e2e
        working-directory: ./new-be
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: blueprint-sql-test
          POSTGRESDB_LOCAL_PORT: 5432
          POSTGRESDB_DOCKER_PORT: 5432
          NODE_ENV: test
          DB_HOST: 0.0.0.0
          JWT_SECRET: test-jwt-secret-key-for-e2e-tests
          JWT_EXPIRES_IN: 1h
  lint-new-fe:
    needs: [ markdown-lint ]
    name: New FE lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: '22'
      - run: echo ${GITHUB_WORKSPACE}
      - run: npm ci
        working-directory: ./new-fe
      - run: npm run lint
        working-directory: ./new-fe

  test-new-fe:
    needs: [ lint-new-fe ]
    name: New FE tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: '22'
      - run: npm ci
        working-directory: ./new-fe
      - run: npm run test -- --watch=false --browsers=ChromeHeadless
        working-directory: ./new-fe
